<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGAhBWUfS8IxYj1v6Y6SRE6YxXHiEMxv0</string>
	<key>GCM_SENDER_ID</key>
	<string>199247579885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftShop.lb</string>
	<key>PROJECT_ID</key>
	<string>swiftlb-aec19</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftlb-aec19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199247579885:ios:8932b1d4a684654a615ae4</string>
</dict>
</plist>